<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.mvc.app.mapper.CommonCodeMapper">
     <select id="listByGroup" parameterType="string" resultType="map">
        SELECT code, codeName, sortOrder
        FROM commonCode
        WHERE codeGroup = #{codeGroup}
          AND enabled = 1
        ORDER BY sortOrder
    </select>
</mapper>