<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mvc.app.mapper.ProjectNoticeMapper">

	<!-- 매니저 여부 확인 -->
	<select id="isManager" resultType="int">
		SELECT COUNT(*)
		FROM empproject
		WHERE empid = #{empId}
		<if test="projectid != null">
			AND projectid = #{projectid, jdbcType=NUMERIC}
		</if>
		AND UPPER(role) = 'M'
	</select>


	<!-- 등록 -->
	<insert id="insertNotice"
		parameterType="com.mvc.app.domain.dto.ProjectNoticeDto">

		<selectKey keyProperty="noticenum" resultType="long"
			order="BEFORE">
			SELECT PROJECTNOTICE_SEQ.NEXTVAL FROM dual
		</selectKey>

		INSERT INTO projectnotice(
		noticenum,
		projectid,
		subject,
		content,
		hitcount,
		regdate,
		isnotice,
		state,
		authorempid
		)
		VALUES(
		#{noticenum},
		#{projectid, jdbcType=NUMERIC},
		#{subject},
		#{content},
		0,
		SYSDATE,
		#{isnotice},
		1,
		#{authorempid}
		)

	</insert>


	<!-- 수정 -->
	<update id="updateNotice"
		parameterType="com.mvc.app.domain.dto.ProjectNoticeDto">

		UPDATE projectnotice
		SET
		subject = #{subject},
		content =
		#{content},
		isnotice = #{isnotice},
		updatedate = SYSDATE
		WHERE noticenum
		= #{noticenum}

	</update>


	<!-- 삭제 -->
	<update id="deleteNotice" parameterType="long">
		UPDATE projectnotice
		SET
		state = 0
		WHERE noticenum = #{noticenum}
	</update>


	<!-- 조회수 -->
	<update id="increaseHit" parameterType="long">
		UPDATE projectnotice
		SET
		hitcount = hitcount + 1
		WHERE noticenum = #{noticenum}
	</update>


	<!-- 목록 -->
	<select id="listNotice" parameterType="map"
		resultType="com.mvc.app.domain.dto.ProjectNoticeDto">

		SELECT
		n.noticenum,
		n.projectid,
		n.subject,
		n.hitcount,
		n.isnotice,
		n.state,
		TO_CHAR(n.regdate,'YYYY-MM-DD') regdate,
		TO_CHAR(n.updatedate,'YYYY-MM-DD') updatedate,
		n.authorempid,
		e.name authorName

		FROM projectnotice n
		LEFT JOIN employee2 e
		ON n.authorempid = e.empid

		WHERE n.state = 1

		ORDER BY
		n.isnotice DESC,
		n.noticenum DESC

		<if test="offset != null and pageSize != null">
			OFFSET #{offset, jdbcType=NUMERIC} ROWS
			FETCH NEXT #{pageSize, jdbcType=NUMERIC} ROWS ONLY
		</if>

	</select>


	<!-- 총 건수 -->
	<select id="countNotice" parameterType="map" resultType="int">

		SELECT COUNT(*)
		FROM projectnotice
		WHERE state = 1

		<if test="projectid != null">
			AND projectid = #{projectid, jdbcType=NUMERIC}
		</if>

		<if test="keyword != null and keyword != ''">
			AND (
			subject LIKE '%' || #{keyword} || '%'
			OR content LIKE
			'%' || #{keyword} || '%'
			)
		</if>

	</select>


	<!-- 단건 -->
	<select id="getNotice" parameterType="long"
		resultType="com.mvc.app.domain.dto.ProjectNoticeDto">

		SELECT
		n.noticenum,
		n.projectid,
		n.subject,
		n.content,
		n.hitcount,
		n.isnotice,
		n.state,
		TO_CHAR(n.regdate,'YYYY-MM-DD') regdate,
		TO_CHAR(n.updatedate,'YYYY-MM-DD') updatedate,
		n.authorempid,
		e.name
		authorName,
		p.title projectName

		FROM projectnotice n
		LEFT JOIN employee2
		e
		ON n.authorempid = e.empid
		LEFT JOIN project p
		ON n.projectid =
		p.projectid

		WHERE n.noticenum = #{noticenum}

	</select>


	<!-- 내 프로젝트 목록 -->
	<select id="getMyProjects" parameterType="string"
		resultType="map">

		SELECT
		ep.projectid,
		p.title projectname,
		ep.role

		FROM
		empproject ep
		JOIN project p
		ON ep.projectid = p.projectid

		WHERE ep.empid
		= #{empId}
		ORDER BY p.title

	</select>


	<!-- 파일 등록 -->
	<insert id="insertFile"
		parameterType="com.mvc.app.domain.dto.ProjectNoticeFileDto">

		<selectKey keyProperty="filenum" resultType="long"
			order="BEFORE">
			SELECT PROJECTNOTICEFILE_SEQ.NEXTVAL FROM dual
		</selectKey>

		INSERT INTO projectnoticefile(
		filenum,
		savefilename,
		originalfilename,
		filesize,
		noticenum
		)
		VALUES(
		#{filenum},
		#{savefilename},
		#{originalfilename},
		#{filesize},
		#{noticenum}
		)

	</insert>


	<!-- 파일 삭제 -->
	<delete id="deleteFile" parameterType="long">
		DELETE FROM
		projectnoticefile
		WHERE filenum = #{filenum}
	</delete>


	<!-- 파일 목록 -->
	<select id="getFiles" parameterType="long"
		resultType="com.mvc.app.domain.dto.ProjectNoticeFileDto">

		SELECT
		filenum,
		savefilename,
		originalfilename,
		filesize,
		noticenum
		FROM projectnoticefile
		WHERE noticenum = #{noticenum}
		ORDER BY
		filenum

	</select>


	<!-- 파일 단건 -->
	<select id="getFile" parameterType="long"
		resultType="com.mvc.app.domain.dto.ProjectNoticeFileDto">

		SELECT
		filenum,
		savefilename,
		originalfilename,
		filesize,
		noticenum
		FROM projectnoticefile
		WHERE filenum = #{filenum}

	</select>

</mapper>